<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="android.permission.RECEIVE_SMS"/>
<uses-permission android:name="android.permission.READ_SMS"/>
<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
<application android:label="Samrat Alert" android:icon="@android:drawable/ic_btn_speak_now" android:theme="@android:style/Theme.Material.Light">
<activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
<activity android:name=".ReportsActivity" android:label="Reports"/>
<activity android:name=".SettingsActivity" android:label="Settings"/>
        <activity android:name=".AlertActivity" android:label="Alert" android:exported="false" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
<receiver android:name=".SmsReceiver" android:exported="true"><intent-filter android:priority="999"><action android:name="android.provider.Telephony.SMS_RECEIVED"/></intent-filter></receiver>
</application>
</manifest>
